@using Compliance.Dashboard.UI.Models
@model LoginPageCommonModel

@using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "recoverform", @class = "form-signin", role = "form" }))
{
    <p>Enter your e-mail address below and we will send you a link to reset your password.</p>

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="input-group">
        <span class="input-group-addon"><i class="icon-envelope"></i></span>
        @Html.TextBoxFor(m => m.ForgotPasswordViewModel.Email, new { @id = "", @class = "form-control", @placeholder = "E-mail address" })
    </div>
    @Html.ValidationMessageFor(m => m.ForgotPasswordViewModel.Email)
    <div class="form-actions clearfix">
        <div class="pull-left">
            <a href="#loginform" class="grey flip-link to-login">Click to login</a>
        </div>
        <input type="submit" class="btn btn-block btn-inverse" value="Recover" />
    </div>
}
